:root {
    --color-primary: #FFFFFF;
    --color-button: #8BF4DB;
    --color-secundary: #2D92A7;
    --color-link: #5270DB;
    --color-icons: #622C75;

    --color-bg-primary: #101117;
    --color-bg-secundary: #0C0D14;
    --color-bg-tertiary: #080514;
    --color-bg-buttons: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(166, 113, 255, 0.1), rgba(255, 0, 0, 0));

    --font-principal: 'Kanit', sans-serif;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-regular: 400;
}

* {
    margin: 0;
    padding: 0;

    font-family: var(--font-principal);
    color: var(--color-primary);
}

html {
    scroll-behavior: smooth;
}
        
body {
    background-color: var(--color-bg-primary);
}

body::-webkit-scrollbar {
    width: 1vw;
    background-color: var(--color-bg-secundary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-link);
    border-radius: 20px;
}

.container {
    margin: 0 auto;
    min-height: 100vh;
}

.start__section {
    text-align: center;
}

.start__header {
    background-color: var(--color-bg-secundary);
    margin-bottom: 2em;
}

.start__ul--items-list {
    background-color: var(--color-bg-secundary);
    display: flex;

    margin: 0 auto;
    padding: 1.5em 0;

    justify-content: center;
    align-items: center;

    font-size: 4vh;
    font-weight: 600;
    list-style-type: none;
}

.start__ul--items-list a, .start__ul--items-list li {
    margin: 0 3vw;
    background-color: var(--color-bg-secundary);
    color: var(--color-link);
    text-decoration: none;

    transition: color 0.2s;
}

.start__h1--text {
    font-size: 9vh;
    font-weight: var(--font-weight-regular);
}

.start__img--logo {
    width: 40vh;
}

.start__h1-mundo {
    color: var(--color-secundary);
    font-weight: var(--font-weight-semibold);
}

.anim--start__a-item {
    display: block;
    position: relative;
}

.anim--start__a-item::before {
    content: '';
    background-color: var(--color-icons);

    width: 100%;
    height: 3px;

    position: absolute;
    left: 0;
    bottom: 0;
    
    transform: scaleX(0);
    transition: transform 0.5s;
}

.anim--start__header {
    transform: translateY(-20px);
    opacity: 0;
    animation: fadein 1s forwards;
}

.anim--start__a-item:hover  {
    color: var(--color-button);
}

.anim--start__a-item:hover::before {    
    transform: scaleX(1);
    border-radius: 10px;
}

.anim--start__h1--text-1 {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadein 1s forwards;
}

.anim--start__img {
    opacity: 0;
    transform: translateX(50px);
    animation: fadein 1s forwards 0.5s, rotate 4s ease-in-out infinite alternate, transparence 3s ease-in-out infinite alternate;
}

.anim--start__h1--text-2 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadein 1s forwards 1s;
}


.description {
    display: grid;
    grid-template-columns: 23% 27% 27% 23%;
}

.description__div--area-1 {
    display: flex;
    align-items: end;
}

.description__div--area-2 {
    display: flex;
    align-items: start;
}


.description__h3--text {
    display: flex;
    font-size: 3.9vh;
    font-weight: var(--font-weight-regular);
}

.description__h3--position-1 {
    display: flex;
    align-items: end;
}

.anim--description__h3-text-1, .anim--description__h3-text-2 {
    transition: transform 1s;
}

.anim--description__h3-text-1:hover {
    transform: translateX(-10px);
}

.anim--description__h3-text-2:hover {
    transform: translateX(10px);
}

.more {
    display: grid;
    grid-template-rows: 35% 35%;
}

.more__h2--title {
    margin: 0 auto;
    width: 50vw;
    text-align: center;
    font-size: 6vh;

    font-weight: var(--font-weight-bold);
    color: var(--color-secundary);
}

.more__div--images {
    margin: 0 23vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more__img--gif {
    width: 23vw;
}

.more__img--hand {
    width: 14vw;
}

.anim--more__img {
    animation: updown 2s ease-in-out 0s alternate infinite;
}

.accessible__background-barra {
    display: block;
    width: 100%;
    margin-bottom: -1px;
}

.accessible__background {
    background-color: var(--color-bg-tertiary);
    padding-top: 5vw;
}

.accessible {
    margin: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accessible__buttons {
    height: 37vh;
    width: 16.5vw;
    margin-bottom: 3em;

    font-weight: var(--font-weight-semibold);
    font-size: 1.7vw;
    color: var(--color-button);
    border: none;

    display: flex;
    cursor: pointer;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.accessible__buttons img {
    background-color: transparent;
    width: 6vw;
}

.accessible__buttons::after {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    bottom: 0;

    border-color: var(--color-secundary);
    border-width: 3px;
    border-style: solid;
    border-radius: 54px;

    transform: scaleX(1);
    transition: transform 0.5s, opacity 0.25s;
}

.accessible__buttons p {
    display: block;
    position: relative;
    text-align: center;
    background-color: transparent;
    color: var(--color-button);
}

.accessible__margin--1 {
    margin: 5% 6%;
}

.accessible__margin--2 {
    margin: 5% 7%;
}

.anim--accessible__buttons {
    position: relative;
}

.anim--accessible__buttons::before {
    content: '';
    
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: rgb(167 113 255 / 10%);
    background-image: var(--color-bg-buttons);
    border-radius: 54px;

    border-top: solid 3px var(--color-icons);
    border-bottom: solid 3px var(--color-icons);

    transform: scaleX(0);
    opacity: 0;
    transition: transform 0.5s, opacity 0.25s;
}

.anim--accessible__buttons:hover {
    border: none;
}

.anim--accessible__buttons:hover::before {
    transform: scaleX(1);
    opacity: 1;
}

.anim--accessible__buttons:hover::after {
    transform: scaleX(0);
    opacity: 0;
}

footer {
    background-color: var(--color-bg-secundary);
}

.footer {
    background-color: var(--color-bg-secundary);
    margin: 0 23vw;
    padding: 1vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__img--logo {
    width: 5vw;
    background-color: transparent;
}

.footer__div--texts {
    font-size: 1.5vw;
    text-align: center;
    font-weight: var(--font-weight-semibold);
}

.footer__div--texts p {
    background-color: var(--color-bg-secundary);
}

.footer__p--text-2 {
    color: var(--color-secundary)
}

.footer__img--return {
    background-color: transparent;
    width: 4vw;
}

.anim--footer__a--return {
    background-color: transparent;
    position: relative;
    display: block;
    transition: transform 0.5s;
}

.anim--footer__a--return::after {
    content: 'voltar';

    position: absolute;
    text-align: center;
    font-size: 1.2vw;
    bottom: -20%;
    left: 15%;

    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.5s, opacity 0.5s;
}

.anim--footer__a--return:hover {
    transform: translateY(-5px);
}

.anim--footer__a--return:hover::after {
    transform: translateY(0px);
    opacity: 1;
}

.pop-up {
    position: fixed;
    margin: auto;
    display: grid;
    display: none;
    grid-template-rows: 80% 20%;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90vw;

    background-color: var(--color-bg-secundary);
    border-radius: 30px;
    border: solid 5px var(--color-icons);

    transform: scaleX(0);
    opacity: 0;
}

.pop-up__p-text {
    margin: 1.5vw;

    overflow-y: auto;
    background-color: var(--color-bg-secundary);

    font-size: 2.3vw;
    font-weight: var(--font-weight-regular);

    opacity: 0;
}

.pop-up__p-text::-webkit-scrollbar {
    width: 1vw;
}

.pop-up__p-text::-webkit-scrollbar-thumb {
    background-color: var(--color-link);
    border-radius: 20px;
}

.pop-up__button-return {
    display: flex;
    margin: auto;
    padding: 0 0.5em;
    cursor: pointer;

    color: var(--color-secundary);
    background-color: var(--color-bg-secundary);

    font-weight: var(--font-weight-semibold);
    font-size: 4vw;

    border-radius: 10px;
    border: solid 5px var(--color-icons);

    transition: font-size 0.25s, background-color 0.5s;
}

.pop-up__button-return:hover {
    font-size: 50px;
    background-color: var(--color-bg-primary)
}

.color-link {
    color: var(--color-link);
    text-decoration: none;
    position: relative;
}

.color-link::after {
    content: '';
    position: absolute;

    width: 100%;
    height: 3px;

    left: 0;
    bottom: 0;
    background-color: var(--color-icons);

    transform: translateX(-50%) scaleX(0);
    transition: transform 0.5s;
}

.color-link:hover::after {
    transform: translateX(0) scaleX(1);
}
.color-secundary {
    color: var(--color-secundary);
}
.color-blue {
    color: lightseagreen;
}
.color-green {
    color: green;
}
.color-yellow {
    color: yellow;
}
.color-red {
    color: red;
}
.color-brown {
    color: brown;
}

@keyframes fadein {
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes updown {
    from {
        transform: translateY(15px);
    }
    
    to {
        transform: translateY(-15px);
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(-10deg);
    }
    to {
        transform: rotateZ(10deg);
    }
}

@keyframes transparence {
    from {
        opacity: 65%;
    }

    to {
        opacity: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        min-height: 100vh;
    }

    .start__section {
        display: flex;
        flex-direction: column;
    }

    .start__header {
        display: flex;
        text-align: center;
    }
    
    .start__ul--items-list {
        padding: 0.1em 0;
        display: block;
        width: auto;
    }

    .start__ul--items-list li {
        display: flex;
        justify-content: center;
        font-size: 5vw;
    }

    .start__div--subtexts {
        margin-top: 10vh;
    }

    .start__h1--text {
        font-size: 9vw;
        margin-bottom: 5vh;
        padding: 0 1em;
    }

    .start__img--logo {
        margin-bottom: 5vh;
        width: 50vw;
    }

    .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .description__h3--text {
        margin: 2em;
        font-size: 3vh;
    }

    .more__h2--title {
        font-size: 7vw;
        width: auto;
        margin: 0 auto;
        padding: 0 0.5em;
    }

    .more__div--images {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin: 0;
    }
    
    .more__img--gif {
        width: 70vw;
    }

    .more__img--hand {
        width: 30vw;
    }

    .accessible__background {
        padding-top: 0;
    }

    .accessible {
        margin: 0 auto;
        padding-top: 10vw;
    }

    .accessible__buttons {
        width: 35vw;
        height: 25vh;
    }

    .accessible__margin--1, .accessible__margin--2 {
        margin: 3vh 6vw;
    }

    .accessible__buttons img {
        width: 15vw;
    }

    .accessible__buttons p { 
        font-size: 4.5vw;
    }

    .accessible__buttons::after {
        left: auto;
        bottom: auto;
    }

    .pop-up__p-text {
        width: auto;
        font-size: 5.5vw;
        font-weight: 100;
        line-height: 1.2em;

        margin: 1.2em;
        margin-right: 0.5em;
        margin-bottom: 0.5em;

        padding-right: 0.5em;
        padding-bottom: 0.5em;
    }

    .pop-up__button-return {
        font-size: 9vw;
    }

    .footer {
        margin: 0;
        padding: 1em;
        display: flex;
    }

    .footer__img--logo {
        display: none;
    }

    .footer__div--texts {
        font-size: 4.5vw;
    }

    .footer__p--text-2 {
        font-size: 4vw;
    }

    .footer__img--return {
        width: 13vw;
        margin-bottom: 5%;
    }

    .anim--footer__a--return::after {
        content: 'voltar';

        position: absolute;
        font-size: 4vw;
        left: 10%;
        bottom: -25%;
        opacity: 1;
    }

    .anim--footer__a--return:hover, .anim--footer__a--return:hover::after {
        transform: none;
    }
}
